[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fpdf2 = "*"
aws-xray-sdk = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock= "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
